@model EmployeeOrderingSystem.Models.Order
@{
    ViewData["Title"] = "Edit Order Status";
}
<div class="container-card">
    <h2 class="text-center">Update Status for Order #@Model.OrderId</h2>
    <form asp-action="EditStatus" method="post">
        <input type="hidden" name="id" value="@Model.OrderId" />
        <div class="form-group">
            <label style="font:bolder;">Status</label>
            <select name="Status" class="form-control">
                <option value="Pending" selected="@(Model.Status == "Pending" ? "selected" : null)">Pending</option>
                <option value="Preparing" selected="@(Model.Status == "Preparing" ? "selected" : null)">Preparing</option>
                <option value="Delivering" selected="@(Model.Status == "Delivering" ? "selected" : null)">Delivering</option>
                <option value="Delivered" selected="@(Model.Status == "Delivered" ? "selected" : null)">Delivered</option>
            </select>
        </div>
        <br />
        <button type="submit" class="btn btn-outline-primary m-1"><i class="bi bi-arrow-repeat"></i> Update</button>&nbsp; | &nbsp;
        <a asp-action="Index" class="btn btn-outline-secondary m-1"><i class="bi bi-arrow-left-circle"></i> Back</a>
    </form>
</div>