@model IEnumerable<EmployeeOrderingSystem.Models.Employee>
@{
    ViewData["Title"] = "Balance";
    var isAdmin = User.IsInRole("Admin");
}

<h2>Balance</h2>

<table id="example" class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Employee Number</th>
            <th>Balance</th>
            <th>Last Deposit</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.EmployeeNumber</td>
                <td>R @item.Balance.ToString("F2")</td>
                <td>@item.LastDepositMonth.ToString("yyyy-MM")</td>
                @if (isAdmin)
                {
                    <td>
                        <a asp-action="Deposit" asp-route-id="aba8e614-4084-48d8-b988-8ffe84a4eeee" class="btn btn-sm btn-success">Deposit</a>
                    </td>
                }
                else
                {
                    <td>
                        <a asp-action="Deposit" asp-route-id="@item.Id" class="btn btn-sm btn-success">Deposit</a>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>
@section Scripts {
    <script>
        $(document).ready(function () {
            $('#example').DataTable();
        });

        /*
        $(document).ready(function() {
            $('#example').DataTable({
                paging: true,
                searching: true
            });
        });
        */
    </script>
}
