@model EmployeeOrderingSystem.Models.Employee
@{
    ViewData["Title"] = "Employee Details";
}
<div class="d-flex justify-content-center">
    <div class="container-card" style="width:500px;">
        <h2>Details</h2>
        <table id="example" class="table table-bordered table-hover table-responsive">
            <thead>
                <tr>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="form-check">@Model.Name</td>
                </tr>
            </tbody>
            <thead>
                <tr>
                    <th>Employee Number</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="form-check">@Model.EmployeeNumber</td>
                </tr>
            </tbody>
            <thead>
                <tr>
                    <th>Balance</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="form-check">@Model.Balance</td>
                </tr>
            </tbody>
            <thead>
                <tr>
                    <th>Last Deposit Month</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="form-check">@Model.LastDepositMonth</td>
                </tr>
            </tbody>
        </table>

        <br />
        <div class="container d-flex flex-column flex-md-row justify-content-between text-black">
            <a asp-action="Deposit" asp-route-id="@Model.Id" class="btn btn-outline-primary"><i class="bi bi-coin"></i>&nbsp; Deposit</a>
            <a asp-action="Index" asp-controller="Restaurants" class="btn btn-outline-primary"><i class="bi bi-shop"></i> Restaurants</a>
        </div>
    </div>
</div>
<div class="container-card col-md-6">
    
</div>