@model IEnumerable<EmployeeOrderingSystem.Models.Restaurant>
@{
    ViewData["Title"] = "Restaurants";
    var isAdmin = User.IsInRole("Admin");
}
<div class="container-card">
    <h2>Restaurants</h2>
    @if (isAdmin)
    {
        <p>
            <a asp-action="Create" class="btn btn-outline-primary"><i class="bi bi-plus-circle"></i> Restaurant</a>
        </p>
    }
    <table id="example" class="table table-bordered table-hover table-responsive">
        <thead>
            <tr>
                <th>Name</th>
                <th>Location</th>
                <th>Contact</th>
                <th>Menu</th>
                @if (isAdmin)
                {
                    <th>Actions</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var r in Model)
            {
                <tr>
                    <td>@r.Name</td>
                    <td>@r.LocationDescription</td>
                    <td>@r.ContactNumber</td>
                    <td>
                        <a asp-controller="Cart" asp-action="BrowseMenu" asp-route-restaurantId="@r.Id" class="btn btn-outline-success btn-sm"><span class="d-flex"><i class="bi bi-view-stacked"></i>&nbsp;View Menu</span></a>
                    </td>
                    @if (isAdmin)
                    {
                        <td>
                            <a asp-action="Edit" asp-route-id="@r.Id" class="btn btn-outline-warning m-1" style="width:70px"><span class="d-flex"><i class="bi bi-pencil-square"></i>&nbsp;Edit</span></a>
                            <a asp-action="Delete" asp-route-id="@r.Id" class="btn btn-outline-danger m-1" style="width:85px"><span class="d-flex"><i class="bi bi-trash"></i>&nbsp;Delete</span></a>
                            <a asp-action="Details" asp-route-id="@r.Id" class="btn btn-outline-info m-1" style="width:95px"><span class="d-flex"><i class="bi bi-menu-down"></i>&nbsp;Details</span></a>
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>
@section Scripts {
    <script>
        $(document).ready(function() {
            $('#example').DataTable({
                responsive: true,
                paging: true,
                searching: true
            });
        });
    </script>
}

